/************************************************/
/**************Mobile first**********************/

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


body {
	
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
	background-image: url("images/fondoTeam.jpg");
	background-repeat: no-repeat, repeat;
	background-position: right bottom, left top;
	background-size: cover,550px;
	background-attachment: fixed;


}

header {
	position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
}

.login {
	/*background: #1dcad3;*/
	background: #ffffff;
	color: #021d49;
	display: block;
	width: 300px;
	margin: 20px;
	padding-bottom: 5px;
	font-size: 18px;
	border-radius: 3%;
	box-shadow: 5px 5px 5px #555;

}

.login__logo{

	background: #ffffff;
	margin: 0px;
	border-top-left-radius: 68%;
	border-bottom-right-radius: 56%;
	padding: 10px;
	height: 30px;
}

.menu__logo img{
	display: none;
}

.input-container {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 20px;
}

.icon {
  padding: 10px;
  background: #0086d6;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu {
/*	background: linear-gradient(230deg,#148f89,#1bbbb3); /* #021d49;*/
	background-color: #330000;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 50px;
	justify-content: space-between;
	flex: 4;
	box-shadow: 1px 3px 20px lightblue;
	z-index: 0;
}

.dropdown__menu {
	display: flex;
	margin-left: 40px;


}

.dropdown__item {
	display: none;
	color: #fefefe;
	text-decoration: none;
	width: 100%;
	margin: 10px 20px;
	align-items: center;
	align-content: center;
	padding: 20px;
}

.dropdown__item > a {
	color: #f2f2f2;
	text-decoration: none;
	font-weight: bold;
	user-select: none;
	text-shadow: 2px 5px 8px #060606;
	letter-spacing: 2px;
}


.inside__menu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	border-radius: 6%;
	padding: 8px;	
	margin-left: 45px;
	box-shadow: 2px 1px 10px #212151;
	opacity: 0;
	cursor: none;
	color:  #fefefe;
	line-height: 30px;
	text-decoration: none;
	list-style: none;
}

.dropdown__item a:hover {
	color: #12dbca;;
	text-shadow: 3px 3px 5px #101;
	cursor: pointer;
}


.inside__item > a{
	display: block;
	text-decoration: none;
	list-style: none;
	color: #333;
}

 a:active{
	opacity: 0.2;
}

.dropdown__horiz__item a:hover {
	text-shadow: 3px 3px 5px #101;
	color: #ffffff;
	/*font-size: 14px;*/
	/*margin-top: -1px;*/
	/*margin-left: -1px;*/
}

.dropdown__toggle
{
	position: absolute;
	color: #fff;
	left: 10px;
	top: 10px;
	font-size: 20px;
}

.logout {
	background: none;
	border-style: none;
	height: 40px;
	width: 140px;
	text-shadow: 2px 5px 15px #060606;
	color: #fefefe;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	margin: 10px 1px 10px 40px;
}

aside {
	display: none;

}

.board {
  display: grid;
  grid-template-columns: auto;
  column-gap: 5px;
  grid-row-gap: 4px;
  padding-top: 40px;

}

.grid-item{
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	background: #fff;/*linear-gradient(150deg,#052555,#0b50b7);	*/
	padding: 10px;
	border-radius: 4px;
}

/***FOOTER*****/
.footer {
	position: fixed;
	bottom: 0px;
	width: 80vw;
	left: 15vw;
	margin-bottom: 0px;
	background-color: white;
	z-index: 100;
}

.container {
	background-color: #fcfefe;
	margin: 20px;
	width: 100px;
	min-width: 300px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #555;
}










/*#############################################       ###################################*/
/*###########################################  DESKTOP  #################################*/

@media only screen and (min-width: 600px) {
  	body {
	    /*background-image: url("../../axsys-avc/clientes/fondo7.jpg");*/
	  background-image: url("../images/fondo1.webp");
		background-repeat: no-repeat, repeat;
		background-position: right bottom, left top;
		background-size: 1250px;  
	}

	.container{
		display: flex;
    flex-direction: column;
		margin-left: 220px;
    margin-right: 10px;
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #555;

	}
	.login {
		/*background: #1dcad3;*/

		color: #021d49;
		display: inline-flex;
		width: 550px;
		margin-left: 150px;
		margin-top: 100px;
		padding: 15px;
		font-size: 18px;
		border-radius: 5px;
		box-shadow: 10px 10px 8px #555;
	}

	.login__logo{
		background: #ffffff;
		margin: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 0%;
		padding: 10px;
		height: 30px;

	}

	.login__logo img{
		width: 50%;

	}
	.inside__menu{

		top: 35px;
	}

	.menu__logo{
		display: flex;
		position: relative;
		height: 50px;
	}

	.menu__horiz {	display: block;  }

	.menu__logo img{
		height: 50px;
		box-shadow: 2px 3px 10px #eee;
		display: flex;
	}

	.menu__item {
		display: flex;
		margin-left: 40px;
		position: relative;
		height: 50px;
	}

	.menu__logout{
		display: flex;
		position: relative;
		height: 50px;
	}



	.dropdown__item {
	display: flex;

	}

	.dropdown__item i {
		margin-right: 5px;
	}

	.dropdown__toggle{
		display: none;
	}

	.menu_sub {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    flex: 4;
    box-shadow: 1px 3px 20px lightblue;
    z-index: 0;
	}
	.dropdown__item2 {
    display: flex;
    color: #fefefe;
    text-decoration: none;
    min-width: 100px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    align-content: center;
    padding: 20px;
    padding-top: 10px;
	}

	.dropdown__item2 a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    text-shadow: 2px 5px 15px #060606;
    letter-spacing: 2px;
	}

	/*#################### ASIDE BAR ############################*/

	aside {
		display: block;
		position: fixed;
		top: 50px;
		background:  linear-gradient(150deg,#0011ad,#37363f); /*#148f89;*/
		color: #fefefe;
		width: 15vw;
		min-width: 200px;
		max-width: 201px;
		height: 100vh;
		align-content: center;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 2px;
		z-index: 500;
		overflow: hidden;

	}

	.inside__menu__horiz {
		display: block;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
    padding-left: 30px;
    cursor: pointer;	
    transition = "1s";
    list-style: none;
    line-height: 1.8;
    font-size: 14px;
    text-decoration: none;
    display: none;
    overflow-wrap: normal;
    text-shadow: 3px 3px 5px #101;
	}

	.fa-user {
		cursor: pointer;
	}

	.inside__item__horiz a{
		display: block;
		text-decoration: none;
		list-style: none;
		color: #f2f2f2;
		text-shadow: 2px 5px 15px #060606;
	}


	.dropdown__horiz__item {
		display: block;
		text-decoration: none;
		min-width: 200px;
		color: #f2f2f2;
		align-items: center;
		align-content: center;
		cursor: pointer;
		list-style: none;

	}

	.dropdown__horiz__item a {
		color: #f2f2f2;
		text-decoration: none;
		font-weight: bold;
		user-select: none;
		text-shadow: 2px 5px 10px #060606;
		letter-spacing: 2px;

	}

	.dropdown__horiz__item a:hover {
		text-shadow: 3px 3px 5px #101;
		color: #ffffff;
		/*font-size: 17px;*/
		margin-top: -1px;
		margin-left: -1px;
		transition: 0.3s;
	}

	.divider {
		display: flex;
		width: 200px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-top: 2px solid #f2f2f2;
		opacity: 0.8;
		box-shadow: 3px 3px 5px #111;
		
	}

	/*##########################################################################*/
	/*############################## MAIN BOARD ##################################*/
	.main {
    display: flex;
    flex-direction: row;
	}

	.board {
		padding-left: 220px;
		padding-top: 60px;
		padding-right: 10px;
		padding-bottom: 160px;
		margin-bottom: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-row: 1fr 1fr;
		background-color: #c7dbda;
		height: 100%;
	}
	.grid-item{

	}

	/*##########################################################################*/
	/*############################## CONTAINERS ##################################*/

	.register_title {
    height: 40px;
    background-color: #eb9500;
    padding: 10px 0px 10px 30px;
    margin-bottom: 10px;
    color: white;
    width: 100%;
    border-radius: 5px;
	}

	.registros{
		margin-top: 100px;
		padding: 10px;
		background: linear-gradient(to left, rgba(255,255,255,0.2), rgba(255,255,255,1)), url("../images/procedimientos-980x668.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.tabla{
		margin-top: 100px;
		padding: 10px;
		background-color: #f2f2f2;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.column {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 50px;
	}

	.icon {
	  padding: 10px;
	  background: #eb9500;
	  color: white;
	  min-width: 50px;
	  text-align: center;
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}

	.btn{
		border-radius: 15px;
		border-style: none;
		cursor: pointer;
		font-size: 15px;
	}

	.btn-register{
		background-color: #feb236;/*#9de000;*/
		padding: 10px;
		margin: 5px;
		width: fit-content;
		box-shadow: 5px 5px 5px #555;
		text-decoration: none;
		font-size: 14px;

	}

	/*##########################################################################*/
	/*############################## TABLES ##################################*/

	.listado {
    position: relative;
    top: 0;
    padding-left: 10px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
	}

	.listado__encabezado th {
    background-color: #ffef96;
    padding-left: 30px;
    text-align: left;
	}
	.listado__fecha {
    width: 12%;
	}
	.right {
    text-align: right;
	}
	.listado__row td {
    text-align: left;
    padding-left: 30px;
	}



}